{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script> -->
	</head>
	<body>
	</body>
</html>
{{ end }}

{{ block "content" . }}
<form action="/contacts" method="get" class="tool-bar">
	<label for="search">Search By Email</label>
	<input type="search" name="email" value="{{ .Email }}" id="search">
	<input type="submit" value="Search">
</form>
{{ end }}
