{{ template "header" }}
		{{ block "new-contact" . }}
		<form action="/contacts/new" method="post">
			<fieldset>
				<legend>Contact Values</legend>
				<p>
					<label for="email">Email</label>
					<input type="email" name="email" placeholder="Email" value="{{ .Email }}" id="email">
					<span class="error">{{ .Errors.email }}</span>
				</p>
				<p>
					<label for="name">Name</label>
					<input type="text" name="name" placeholder="Name" value="{{ .Name }}" id="name">
					<span class="error">{{ .Errors.name }}</span>
				</p>
				<p>
					<label for="phone">Phone</label>
					<input type="text" name="phone" placeholder="Phone" value="{{ .Phone }}" id="phone">
					<span class="error">{{ .Errors.phone }}</span>
				</p>
			</fieldset>

			<button>Save</button>
			</fieldset>
		</form>

		<p>
			<a href="/contacts">Back</a>
		</p>
		{{ end }}
{{ template "footer" }}