{{template "header"}}
		{{block "edit-contact" .}}
		<form action="/contacts/{{ .Id }}/edit" method="post">
			<fieldset>
				<legend>Contact Values</legend>
				<p>
					<label for="email">Email</label>
					<input id="email" type="text" name="email" placeholder="Email" value="{{ .Email }}"
							hx-get="/contacts/{{.Id}}/email"
							hx-target="next .error"
							hx-target-4xx="next .error"
							hx-trigger="change, keyup delay:200ms changed">
					<span class="error"></span>
				</p>
				<p>
					<label for="name">Name</label>
					<input id="name" type="text" name="name" placeholder="Name" value="{{ .Name }}">
					<span class="error"></span>
				</p>
				<p>
					<label for="phone">Phone</label>
					<input id="phone" type="text" name="phone" placeholder="Phone" value="{{ .Phone }}">
					<span class="error"></span>
				</p>
				<button>Save</button>
			</fieldset>
		</form>
			<button hx-delete="/contacts/{{ .Id }}"
					hx-target="body"
					hx-push-url="true"
					hx-confirm="Are you sure you want to delete this contact?">
					Delete Contact
			</button>
		<p>
			<a href="/contacts/">Back</a>
		</p>
		{{end}}
{{template "footer"}}