{{template "header"}}
		{{block "contacts" .}}
		<form action="/contacts" method="get" class="tool-bar">
			<label for="search">Search By Email</label>
			<input type="search" name="email" id="search" value="{{ .searchEmail }}">
			<input type="submit" value="Search">
		</form>

		<table>
			<thead>
				<tr>
					<th>Name <th>Phone <th>Email </th>
				</tr>
			</thead>
			<tbody>
				{{range .contacts}}
				<tr>
					<td>{{.Name}}</td>
					<td>{{.Phone}}</td>
					<td>{{.Email}}</td>
					<td>
						<a href="/contacts/{{ .Id }}/edit">Edit</a>
						<a href="/contacts/{{ .Id }}">View</a>
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
		{{end}}

		<a href="/contacts/new">Add Contact</a>
{{template "footer"}}